@import '../fonts/stylesheet.css';
@import '../styles/ThemeColors.css';
.book {
  position: relative;
  width: 100%;
  background: var(--backgroundColor);
  padding: clamp(40px, 3.9063vmax, 76px) 0 110px 0;
  border-radius: 0 0 45px 45px;
  z-index: 2;
  padding-top: 146px;
}
@media (max-width: 1600px) {
  .book {
    padding-bottom: 86px;
  }
}
@media (max-width: 1100px) {
  .book {
    padding-top: 26px;
    padding-bottom: 0;
  }
}
@media (max-width: 1600px) {
  .book {
    padding-top: 116px;
  }
}
@media (max-width: 1100px) {
  .book {
    padding-top: 98px;
  }
}

.book_section img {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 32vw;
  height: auto;
}
@media (max-width: 1600px) {
  .book_section img {
    top: 40%;
  }
}
@media (max-width: 1100px) {
  .book_section img {
    display: none;
  }
}

.book_title {
  font-size: max(2.29vw, 32px);
  font-family: "GilroyBlack";
  margin-bottom: 36px;
  color: var(--titleColor);
  margin-bottom: 48px;
}
@media (max-width: 1600px) {
  .book_title {
    font-size: 2.34vw;
  }
}
@media (max-width: 1100px) {
  .book_title {
    font-size: 4.1667vw;
  }
}
@media (max-width: 1100px) {
  .book_title {
    font-size: 44px;
    margin-bottom: 46px;
  }
}
@media (max-width: 600px) {
  .book_title {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1600px) {
  .book_title {
    margin-bottom: 34px;
  }
}

.book_classes {
  margin-bottom: 42px;
}
.book_classes ul {
  display: flex;
  gap: 68px;
  justify-content: flex-end;
}
.book_classes li {
  font-size: max(1.67vw, 24px);
  line-height: 1;
  font-family: "Gilroy";
  list-style-type: none;
}
@media (max-width: 1100px) {
  .book_classes {
    display: none;
  }
}

.book_class_number {
  cursor: pointer;
  color: var(--titleColor);
}
.book_class_number:hover {
  color: #e87b5a;
}
.book_class_number.active {
  font-family: "GilroyExtraBold";
  color: var(--titleColor);
}

.book_classes_content_wrapper {
  -webkit-box-shadow: -6px 5px 27px 0px rgba(1, 2, 2, 0.4);
  -moz-box-shadow: -6px 5px 27px 0px rgba(1, 2, 2, 0.4);
  box-shadow: -6px 5px 27px 0px rgba(1, 2, 2, 0.4);
  float: right;
  border-radius: 40px 0 0 40px;
  width: 64.58vw;
  min-height: 51.56vw;
  background: white;
  padding: 26px 54px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1100px) {
  .book_classes_content_wrapper {
    all: unset;
    width: 100%;
    height: fit-content;
    padding: 50px 0;
  }
}

.classes_content_list {
  display: none;
  list-style-type: none;
  column-count: 2;
}
.classes_content_list li, .classes_content_list span {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  line-height: 30px;
  width: 100%;
}
@media (max-width: 1100px) {
  .classes_content_list li, .classes_content_list span {
    font-size: 22px;
    line-height: 30px;
  }
}
.classes_content_list li {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  line-height: 30px;
  width: 100%;
}
@media (max-width: 1100px) {
  .classes_content_list li {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 32px;
  }
}
.classes_content_list span {
  margin-bottom: 28px;
}
.classes_content_list.active {
  display: block;
}
@media (max-width: 1100px) {
  .classes_content_list {
    column-count: 1;
    background: white;
    padding: 38px 20px 0;
  }
}

.content_item {
  display: inline-block;
  margin-bottom: 22px;
}

#book_class_select {
  display: none;
  width: 166px;
  padding: 12px 28px;
  border-radius: 20px;
  border: 1px solid #e87b5a;
  font-size: 16px;
  font-family: "OpenSansSemiBold";
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/angleDown.png");
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  margin-bottom: 38px;
}
#book_class_select:focus {
  outline: none;
}
#book_class_select option {
  font-size: 16px;
  font-family: "OpenSansSemiBold";
}
@media (max-width: 1100px) {
  #book_class_select {
    display: block;
  }
}

/*# sourceMappingURL=book.css.map */
