@import "../styles/variables";

.documents{
  @include main;
  padding-top: 148px;
  @media (max-width: $laptop) {
    padding-top: 100px;
  }
}
.documents_section{
  & h2{
    @include titlePage;
    margin-bottom: 36px;
    @media (max-width: $laptop) {
      margin-bottom: 36px;
    }
    @media (max-width: $tablet) {
      margin-bottom: 46px;
    }
  }
}


.documents_items_wrapper{
  margin-bottom: 48px;
}
.media_item{
  @include mediaOverlay;
}
.media_name_wrapper{
  @include mediaTitleContainer;
  margin-left: 18px;
}
.media_name{
  @include mediaTitle;
}
.media_icon{
  font-size: 46px;
  line-height: 30px;
  margin-right: 20px;
}
.media_link_container{
  @include mediaLinkContainer;
  display: flex;
  align-items: center;
}
.media_link{
  @include mediaLink;
}
.media_link_inner{
  @include mediaLinkInner(#688ab7);
  & span:last-child{
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.cloud_download_icon{
  @include mediaLinkIcon(#688ab7);
}
.media_link_file_name{
  @include font16;
  font-family: $openSansLight;
}

.show_more_wrapper{
  display: flex;
  justify-content: center;
  & button{
    @include button($color2, $color4);
    border-radius: 30px;
    &:hover{
      border: 1px solid $color4;
    }
    @media (max-width: $tablet) {
      margin-bottom: 46px;
    }
  }
}
