@charset "UTF-8";
@import '../fonts/stylesheet.css';
@import '../styles/ThemeColors.css';
.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 20px 105px;
  transition: 0.3s;
}
.header li {
  list-style-type: none;
}
.header.header_fixed {
  background: white;
}
.header.activeMobile {
  background: var(--theme);
}
@media (max-width: 1600px) {
  .header {
    padding: 12px 70px;
  }
}
@media (max-width: 1199px) {
  .header {
    padding: 22px 20px 18px;
  }
}

.header_container {
  display: grid;
  grid-template-areas: "title title title nav nav nav nav nav nav nav nav nav";
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 100%;
}
@media (max-width: 1000px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header_title_wrapper {
  grid-area: title;
  display: flex;
  align-items: center;
}
.header_title_wrapper h1 {
  font-family: "GilroyExtraBold";
  font-size: max(1.35vw, 18px);
  line-height: 1.154;
  line-height: 30px;
  margin: 0;
  color: white;
  transition: 0.3s;
}
@media (max-width: 1600px) {
  .header_title_wrapper h1 {
    line-height: 21px;
  }
}
@media (max-width: 1000px) {
  .header_title_wrapper h1 {
    font-size: 26px;
    line-height: 30px;
  }
}
.header_title_wrapper.header_fixed h1 {
  color: black;
}
.header_title_wrapper.transparent h1 {
  opacity: 0;
}
@media (max-width: 1000px) {
  .header_title_wrapper {
    max-width: 400px;
  }
}

.header_nav_container {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 60px;
  width: 100%;
  position: relative;
  transition: 0.3s;
  border: 1px solid white;
}
.header_nav_container.header_fixed {
  border: 1px solid #d5d5d5;
}
@media (max-width: 1000px) {
  .header_nav_container {
    display: none;
  }
}

.header_nav {
  width: 980px;
}
.header_nav a:hover {
  color: #e87b5a;
}
@media (max-width: 1600px) {
  .header_nav {
    width: 730px;
  }
}
@media (max-width: 1550px) {
  .header_nav {
    width: 705px;
  }
}

.header_nav_list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header_nav_item {
  display: flex;
  align-items: center;
}
.header_nav_item.hover {
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
}

.header_nav_item_overlay {
  position: relative;
  display: flex;
  align-items: center;
  padding: 24px;
  cursor: pointer;
}
.header_nav_item_overlay.hover {
  background: var(--theme);
  height: calc(100% - 10px);
  border-radius: 20px 20px 0 0;
}
.header_nav_item_overlay.hover:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 13px 15px;
  background: -moz-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 24px, var(--theme) 25px);
  background: -o-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 24px, var(--theme) 25px);
  background: -webkit-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 14px, var(--theme) 15px);
  background-position: bottom right;
  -moz-background-size: 50% 50%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  bottom: 1px;
  right: -14px;
}
.header_nav_item_overlay.classes {
  padding: 10px;
  margin-right: 14px;
  height: 100%;
  border-radius: 40px 30px 0 0;
}
.header_nav_item_overlay.classes.concave_disable:after {
  all: unset;
}
@media (max-width: 1600px) {
  .header_nav_item_overlay.classes {
    padding: 8px;
    margin-right: 2px;
  }
}
.header_nav_item_overlay.disable {
  background: unset;
  border-radius: unset;
  height: unset;
  cursor: unset;
}
.header_nav_item_overlay.disable:after {
  all: unset;
}
@media (max-width: 1600px) {
  .header_nav_item_overlay {
    padding: 14px;
  }
}

.header_nav_item_classes {
  display: flex;
  align-items: center;
  background: #ffc800;
  border-radius: 30px;
  padding: 14px 26px;
  z-index: 100;
}
@media (max-width: 1600px) {
  .header_nav_item_classes {
    padding: 6px 18px;
  }
}

.header_nav_item_title_wrapper {
  display: flex;
  align-items: center;
}

.header_nav_item_title {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  font-family: "GilroySemiBold";
  line-height: 30px;
}
.header_nav_item_title.classes {
  padding-left: 0;
}

.menu_icon {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 12px;
}
.menu_icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: 0.3s;
}
.menu_icon span:nth-child(1) {
  top: 0;
}
.menu_icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.menu_icon span:nth-child(3) {
  bottom: 0;
}
.menu_icon.active {
  transform: translateX(-50%);
}
.menu_icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(50%, 50%);
}
.menu_icon.active span:nth-child(2) {
  opacity: 0;
}
.menu_icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(50%, -50%);
}
@media (max-width: 1600px) {
  .menu_icon.active {
    transform: translateX(-25%);
  }
  .menu_icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(45%, 50%);
  }
  .menu_icon.active span:nth-child(2) {
    opacity: 0;
  }
  .menu_icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(45%, -50%);
  }
}
@media (max-width: 1000px) {
  .menu_icon.active {
    transform: translateX(-30%);
  }
  .menu_icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(50%, 50%);
  }
  .menu_icon.active span:nth-child(2) {
    opacity: 0;
  }
  .menu_icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(50%, -50%);
  }
}
@media (max-width: 1600px) {
  .menu_icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}
@media (max-width: 1000px) {
  .menu_icon {
    width: 20px;
    height: 20px;
  }
}

.header_arrow {
  height: 12px;
  width: auto;
  margin-left: 10px;
  transition: 0.3s;
}
.header_arrow.hover {
  transform: rotate(180deg);
}
@media (max-width: 1600px) {
  .header_arrow {
    margin-top: 2px;
    margin-left: 6px;
    height: 8px;
  }
}

.header_nav_drop_list {
  display: none;
  background: var(--theme);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% - 10px));
  padding: 30px;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 999;
}
.header_nav_drop_list.hover {
  display: block;
}
@media (max-width: 1600px) {
  .header_nav_drop_list {
    padding: 18px;
  }
}
@media (max-width: 1000px) {
  .header_nav_drop_list {
    all: unset;
  }
}

.classes_list {
  padding: 4px 12px 12px 0;
  border-radius: 0 0 20px 20px;
  width: var(--width);
}
.classes_list.classes_hover {
  padding: 4px 12px 12px 0;
  border-radius: 0 0 0 20px;
}
.classes_list.classes_hover:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 13px 15px;
  background: -moz-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 24px, var(--theme) 25px);
  background: -o-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 24px, var(--theme) 25px);
  background: -webkit-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 14px, var(--theme) 15px);
  background-position: bottom left;
  -moz-background-size: 50% 50%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  bottom: -14px;
  right: -35px;
}
.header_drop_list_item {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  font-family: "GilroyMedium";
  list-style-type: none;
  line-height: 46px;
  white-space: nowrap;
}
@media (max-width: 1600px) {
  .header_drop_list_item {
    line-height: 34px;
  }
}

.classes_drop_item {
  border-radius: 0 20px 20px 0;
  padding-left: 66px;
  padding-right: 24px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.classes_drop_item img {
  /*
  margin-left: 52px;
  */
  width: auto;
  height: 18px;
}
@media (max-width: 1600px) {
  .classes_drop_item img {
    margin-left: 26px;
    height: 14px;
    width: auto;
  }
}
.classes_drop_item svg {
  height: 24px;
  width: auto;
}
@media (max-width: 1600px) {
  .classes_drop_item svg {
    height: 20px;
  }
}
.classes_drop_item svg path {
  fill: #c2c2c2;
}
.classes_drop_item.hover {
  background: white;
}
.classes_drop_item.hover svg path {
  fill: black;
}
@media (max-width: 1600px) {
  .classes_drop_item {
    padding-left: 48px;
    padding-right: 24px;
  }
}

.class_number {
  font-size: max(1.67vw, 24px);
  line-height: 1;
  font-family: "GilroyMedium";
  list-style-type: none;
  line-height: 54px;
  color: #656565;
}
.class_number.hover {
  color: black;
}

.header_classes_content {
  background: var(--theme);
  position: absolute;
  left: var(--headerNavDropListWidth);
  top: 0;
  padding: 22px 48px 0;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 345;
  width: calc(var(--headerNavContainerWidth) - var(--headerNavDropListWidth)) !important;
  height: 690px;
  display: none;
}
.header_classes_content.hover {
  display: block;
}

.header_classes_content_list {
  display: flex;
  flex-flow: column wrap;
  white-space: normal;
  gap: 14px;
  height: 646px;
}
@media (max-width: 1000px) {
  .header_classes_content_list {
    flex-flow: column nowrap;
    height: 100%;
    padding-bottom: 28px;
  }
}

.header_classes_content_item {
  width: 50%;
  margin: 0 0 4px 0;
  padding: 0;
}
@media (max-width: 1000px) {
  .header_classes_content_item {
    width: 100%;
  }
}

.header_classes_title {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  /*  @media (max-width: 1000px) {
      font-size: 1.8229vw;
    }*/
  font-family: "GilroyExtraBold";
  margin: 0 0 -4px 0;
  padding: 0;
  display: block;
}
@media (max-width: 1366px) {
  .header_classes_title {
    line-height: 26px;
  }
}

.header_classes_chapter {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  /*  @media (max-width: 1000px) {
      font-size: 1.8229vw;
    }*/
  line-height: 22px;
  font-family: "GilroyMedium";
  list-style-type: none;
  counter-reset: section;
  padding-left: 0;
  margin-top: 10px;
}
@media (max-width: 1366px) {
  .header_classes_chapter {
    line-height: 26px;
  }
}
.header_classes_chapter li {
  margin: 22px 0;
}
.header_classes_chapter li:before {
  content: "§ " counter(section) ". ";
  counter-increment: section;
}

.region {
  position: absolute;
  right: 137px;
  top: 110px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.scc {
  position: relative;
}

.city_name {
  font-family: "OpenSansSemiBold";
  font-size: 17px;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
  white-space: nowrap;
  color: white;
  margin-bottom: 20px;
}

.xx {
  background: var(--theme);
  border-radius: 20px;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: -32px;
}
.xx span {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  font-family: "GilroyBold";
  margin-bottom: 24px;
}
.xx button {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  line-height: 1;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid #e87b5a;
  color: white;
  background: #e87b5a;
  cursor: pointer;
}
.xx button:hover {
  background: #e87b5a;
}
.xx:before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  top: -25px;
  right: 0px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 20px solid var(--theme);
}

.mobile_header_menu {
  display: none;
}
@media (max-width: 1000px) {
  .mobile_header_menu {
    display: block;
    opacity: 1;
    transition: 0.3s;
    transform: translateY(-130%);
  }
  .mobile_header_menu.active {
    opacity: 1;
    transform: translateY(0%);
  }
}

.mobile_menu_icon {
  width: 68px;
  height: 60px;
  background: #fca204;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  transition: 0.3s;
  z-index: 100;
}
@media (max-width: 1000px) {
  .mobile_menu_icon {
    display: flex;
  }
}

.mobile_icon_container {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.mobile_header_nav_container {
  width: 100vw;
  margin-left: -20px;
  background: var(--theme);
  z-index: 1;
}

.m_nav_item {
  border-top: 1px solid #c2c2c2;
}
.m_nav_item:last-child {
  border-bottom: 1px solid #c2c2c2;
}

.m_nav_item_title {
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 22px;
  line-height: 75px;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m_nav_item_title span {
  font-family: "GilroySemiBold";
  font-size: 22px;
  line-height: 75px;
  color: black;
}

.m_nav_item_content {
  padding: 0 26px 20px 26px;
  display: none;
  overflow-y: auto;
  width: 100%;
  max-height: 530px;
}
.m_nav_item_content li, .m_nav_item_content span {
  font-size: 18px;
}

.m_nav_item_arrow {
  width: 15px;
  height: 15px;
  position: relative;
}
.m_nav_item_arrow span {
  transition: 0.3s;
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
}
.m_nav_item_arrow span:nth-child(1) {
  left: -10px;
  bottom: 0;
  transform: rotate(45deg);
}
.m_nav_item_arrow span:nth-child(2) {
  bottom: 0;
  transform: rotate(-45deg);
}
.m_nav_item_arrow.active span:nth-child(1) {
  transform: rotate(0deg);
}
.m_nav_item_arrow.active span:nth-child(2) {
  transform: rotate(0deg);
}

/*# sourceMappingURL=header.css.map */
