@import "../styles/variables";

$concaveTopRight: topRight;
$concaveBottomLeft: bottomLeft;

@mixin concave($position){
  &:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    padding:13px 15px;
    @media (max-width: 1600px) {
    }
    @if $position == topRight {
      background:-moz-radial-gradient(100% 0, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-o-radial-gradient(100% 0, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-webkit-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, $color1 15px);
      background-position: bottom right;
      -moz-background-size:50% 50%;
      -webkit-background-size:50% 50%;
      background-size:50% 50%;
      background-repeat:no-repeat;
      bottom: 1px;
      right: -14px;
    }
    @if $position == bottomLeft {
      background:-moz-radial-gradient(0 100%, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-o-radial-gradient(0 100%, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-webkit-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, $color1 15px);
      background-position: bottom left;
      -moz-background-size:50% 50%;
      -webkit-background-size:50% 50%;
      background-size:50% 50%;
      background-repeat:no-repeat;
      bottom: -14px;
      right: -35px;
    }
  }
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 20px $containerMargin1;
  transition: $transition;
  & li{
    list-style-type: none;
  }
  &.header_fixed{
    background: white;
  }
  &.activeMobile{
    background: $color1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      width: 0;
    }
  }
  @media (max-width: 1600px) {
    padding: 12px $containerMargin2;
  }
  @media (max-width: 1199px) {
    padding: 22px $containerMargin3 18px;
    height: 105px;
  }
  @media (max-width: 500px) {
    padding: 20px $containerMargin4 ;
    height: 84px;
    background: white;
    max-height: 100vh;
  }

}

.header_container {
  display: grid;
  grid-template-areas: "title title title nav nav nav nav nav nav nav nav nav";
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  @media (max-width: 1000px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 640px) {
    justify-content: flex-start;
  }
}
.header_title_wrapper {
  grid-area: title;
  display: flex;
  align-items: center;

  & h1 {
    font-family: $gilroyExtraBold;
    @include font26;
    line-height: 30px;
    margin: 0;
    color: white;
    transition: 0.3s;
    @media (max-width: 1600px) {
     line-height: 21px;
    }
    @media (max-width: 1000px) {
      font-size: 26px;
      line-height: 30px;
    }
    @media (max-width: 500px) {
      font-size: 18px;
      line-height: 20px;
      max-width: 276px;
      background: linear-gradient(90deg, rgba(253,93,16,1) 0%, rgba(240,11,107,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }
  &.header_fixed{
    & h1 {
      color: black;
      @media (max-width: 1000px) {
        color: white;
        background: linear-gradient(90deg, rgba(253,93,16,1) 0%, rgba(240,11,107,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &.transparent{
    & h1 {
      opacity: 0;
    }
  }

  @media (max-width: 1000px) {
    max-width: 400px;
  }
}

.header_nav_container {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 60px;
  width: 100%;
  position: relative;
  transition: $transition;
  border: 1px solid white;
  &.header_fixed{
    border: 1px solid #d5d5d5;
  }
  @media (max-width: 1000px) {
    display: none;
  }
}

.header_nav{
  width: 980px;
  & a:hover{
    color: $color2;
  }
  @media (max-width: 1600px) {
    width: 730px;
  }
  @media (max-width: 1550px) {
    width: 705px;
  }
}
.header_nav_list{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}

$paddingOverlay: 24px;
$paddingYellowClasses: 14px;
$paddingOverlayClasses: $paddingOverlay - $paddingYellowClasses;

$paddingOverlayMid: 14px;
$paddingYellowClassesMid: 6px;
$paddingOverlayClassesMid: $paddingOverlayMid - $paddingYellowClassesMid;

.header_nav_item{
  display: flex;
  align-items: center;
  &.hover{
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
  }
}
.header_nav_item_overlay{
  position: relative;
  display: flex;
  align-items: center;
  padding: $paddingOverlay;
  cursor: pointer;

  &.hover{
    background: $color1;
    height: calc(100% - 10px);
    border-radius: 20px 20px 0 0;
    @include concave($concaveTopRight);
  }
  &.classes{
    padding: $paddingOverlayClasses;
    margin-right: 14px;
    height: 100%;
    border-radius: 40px 30px 0 0;
    &.concave_disable{
      &:after{
        all: unset;
      }
    }
    @media (max-width: 1600px) {
      padding: $paddingOverlayClassesMid;
      margin-right: 2px;
    }
  }
  &.disable{
    background: unset;
    border-radius: unset;
    height: unset;
    cursor: unset;
    &:after{
      all: unset;
    }
  }

  @media (max-width: 1600px) {
    padding: $paddingOverlayMid;
  }
}

.header_nav_item_classes{
  display: flex;
  align-items: center;
  background: #ffc800;
  border-radius: 30px;
  padding: $paddingYellowClasses 26px;
  z-index: 100;
  @media (max-width: 1600px) {
    padding: $paddingYellowClassesMid calc($paddingYellowClassesMid + 12px);
  }
}

.header_nav_item_title_wrapper{
  display: flex;
  align-items: center;
}
.header_nav_item_title{
  @include font22;
  font-family: $gilroySemiBold;
  line-height: 30px;
  &.classes{
      padding-left: 0;
    }
}

.menu_icon {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 12px;

  & span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: 0.3s;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  &.active{
    transform: translateX(-50%);
    & span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(50%, 50%);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(50%, -50%);
      }
    }
    @media (max-width: 1600px) {
      transform: translateX(-25%);

      & span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(45%, 50%);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(45%, -50%);
        }
      }
    }
    @media (max-width: 1000px) {
      transform: translateX(-30%);
      & span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(50%, 50%);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(50%, -50%);
        }
      }
    }
  }

  @media (max-width: 1600px) {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  @media (max-width: 1000px) {
    width: 20px;
    height: 20px;
  }
}
.header_arrow{
  height: 12px;
  width: auto;
  margin-left: 10px;
  transition: 0.3s;
  &.hover{
    transform: rotate(180deg);
  }
  @media (max-width: 1600px) {
    margin-top: 2px;
    margin-left: 6px;
    height: 8px;

  }

}

.header_nav_drop_list {
  display: none;
  background: $color1;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% - 10px));
  padding: 30px;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 999;

  &.hover {
    display: block;
  }

  @media (max-width: 1600px) {
    padding: 18px;
  }
  @media (max-width: 1000px) {
    all: unset;
  }

}
.classes_list{
  padding: 4px 12px 12px 0;
  border-radius: 0 0 20px 20px;
  width: var(--width);
  &.classes_hover{
    @include concave($concaveBottomLeft);
    padding: 4px 12px 12px 0;
    border-radius: 0 0 0 20px;
  }
}
.header_drop_list_item{
  @include font22;
  font-family: $gilroyMedium;
  list-style-type: none;
  line-height: 46px;
  white-space: nowrap;
  @media (max-width: 1600px) {
    line-height: 34px;
  }
}
.classes_drop_item{
  border-radius: 0 20px 20px 0 ;
  padding-left: 66px;
  padding-right: 24px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img{
    /*
    margin-left: 52px;
    */
    width: auto;
    height: 18px;
    @media (max-width: 1600px) {
      margin-left: 26px;
      height: 14px;
      width: auto;
    }
  }
  & svg{
    height: 24px;
    width: auto;
    @media (max-width: 1600px) {
      height: 20px;
    }
    & path{
      fill: #c2c2c2;
    }
  }
  &.hover{
    background: white;
    & svg path{
      fill: black;
    }
  }
  @media (max-width: 1600px) {
    padding-left: 48px;
    padding-right: 24px;

  }
}
.class_number{
  @include font32;
  font-family: $gilroyMedium;
  list-style-type: none;
  line-height: 54px;
  color: #656565;
  &.hover{
    color: black;
  }
}
$headerClassesContentHeight: 690px;
$headerClassesContentPadding: 22px;
$headerClassesContentListHeight: $headerClassesContentHeight - $headerClassesContentPadding * 2;

.header_classes_content{
  $left: var(--headerNavDropListWidth);
  background: $color1;
  position: absolute;
  left: $left;
  top: 0;
  padding: $headerClassesContentPadding 48px 0;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 345;
  width: calc(var(--headerNavContainerWidth) - $left) !important;
  height: $headerClassesContentHeight;
  display: none;
  &.hover{
    display: block;
  }
}

.header_classes_content_list{
  display: flex;
  flex-flow: column wrap;
  white-space: normal;
  gap: 14px;
  height: $headerClassesContentListHeight;
  @media (max-width: 1000px) {
    flex-flow: column nowrap;
    height: 100%;
    padding-bottom: 28px;
  }
}
.header_classes_content_item{
  width: 50%;
  margin: 0 0 4px 0;
  padding: 0;
  @media (max-width: 1000px) {
    width: 100%;
  }


}

.header_classes_title{
  @include font16;
  font-family: $gilroyExtraBold;
  margin: 0 0 -4px 0;
  padding: 0;
  display: block;
  @media (max-width: 500px) {
    font-size: 22px;
    line-height: 44px;
  }
}

.header_classes_chapter{
  @include font16;
  line-height: 22px;
  font-family: $gilroyMedium;
  list-style-type: none;
  counter-reset: section;
  padding-left: 0;
  margin-top: 10px;
  & li{
      margin: 22px 0;
      @media (max-width: 500px) {
        font-size: 22px;
        line-height: 44px;
      }
  }
  & li:before{
    content: "ยง " counter(section) ". ";
    counter-increment: section;
  }
}






.mobile_header_menu{
  display: none;
  @media (max-width: 1000px) {
    display: block;
    opacity: 1;
    transition: 0.3s;
    transform: translateY(-720px);
    &.active{
      opacity: 1;
      transform: translateY(0%);
    }
  }

}

.mobile_menu_icon{
  width: 68px;
  height: 60px;
  background: #ffc800;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  transition: 0.3s;
  z-index: 100;
  margin-right: 20px;
  @media (max-width: 1000px) {
    display: flex;
  }
  @media (max-width: 500px) {
    width: 50px;
    height: 44px;
    margin-right: 10px;
  }
}
.mobile_icon_container{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.mobile_header_nav_container{
  width: 100vw;
  margin-left: - $containerMargin3;
  background: $color1;
  z-index: 1;
}



.m_nav_item {
  border-top: 1px solid #c2c2c2;
  &:last-child{
    border-bottom: 1px solid #c2c2c2;
    &:after{
      content: '';
      width: 100vw;
      height: 100px;
      background: $color1;
      position: absolute;
      bottom: -100px;
      left: -$containerMargin3;
      z-index: -1;
    }
  }
}

.m_nav_item_title {
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 22px;
  line-height: 75px;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & span {
    font-family: $gilroySemiBold;
    font-size: 22px;
    line-height: 75px;
    color: black;
  }

}

.m_nav_item_content {
  padding: 0 26px 20px 26px;
  display: none;
  overflow-y: auto;
  width: 100%;
  max-height: 530px;
  & li,span{
    font-size: 18px;
  }
}


.m_nav_item_arrow {
  width: 15px;
  height: 15px;
  position: relative;
  & span{
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    &:nth-child(1){
      left: -10px;
      bottom: 0;
      transform: rotate(45deg);
    }
    &:nth-child(2){
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
  &.active {
    & span {
      &:nth-child(1) {
        transform: rotate(0deg);
      }

      &:nth-child(2) {
        transform: rotate(0deg);
      }
    }
  }
}
