@import "../styles/variables";

$concaveTopRight: topRight;
$concaveBottomLeft: bottomLeft;

@mixin concave($position){
  &:after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    padding:13px 15px;
    transition: $transition;
    opacity: 0;
    @media (max-width: $laptop) {
    }
    @if $position == topRight {
      background:-moz-radial-gradient(100% 0, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-o-radial-gradient(100% 0, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-webkit-radial-gradient(100% 0, circle, rgba(204,0,0,0) 14px, $color1 15px);
      background-position: bottom right;
      -moz-background-size:50% 50%;
      -webkit-background-size:50% 50%;
      background-size:50% 50%;
      background-repeat:no-repeat;
      bottom: 0;
      right: -15px;
      mix-blend-mode: difference;
    }
    @if $position == bottomLeft {
      background:-moz-radial-gradient(0 100%, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-o-radial-gradient(0 100%, circle, rgba(204,0,0,0) 24px, $color1 25px);
      background:-webkit-radial-gradient(0 100%, circle, rgba(204,0,0,0) 14px, $color1 15px);
      background-position: bottom left;
      -moz-background-size:50% 50%;
      -webkit-background-size:50% 50%;
      background-size:50% 50%;
      background-repeat:no-repeat;
      bottom: -14px;
      right: -15px;
    }
  }
}


.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 20px $containerMargin1;
  transition: $transition;
  & li{
    list-style-type: none;
  }
  & ul{
    list-style-type: none;
  }
  &.header_fixed{
    background: white;
  }
  &.background{
    background: var(--headerBG) ;
  }
  &.activeMobile{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: $color1;
    &::-webkit-scrollbar{
      width: 0;
    }
  }

  @media (max-width: $laptop) {
    padding: 12px $containerMargin2;
  }
  @media (max-width: 1199px) {
    padding: 22px $containerMargin3 18px;
    height: 105px;
  }
  @media (max-width: $mobile) {
    padding: 20px $containerMargin4 ;
    height: 84px;
    background: white;
    max-height: 100vh;
  }

}
.header_container {
  display: grid;
  grid-template-areas: "title title title nav nav nav nav nav nav nav nav nav";
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  @media (max-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 640px) {
    justify-content: flex-start;
  }
}


/////////////////////////////////////////// title  //////////////////////////////////////////

.header_title_wrapper {
  grid-area: title;
  display: flex;
  align-items: center;

  & h1 {
    font-family: $gilroyExtraBold;
    @include font26;
    line-height: 30px;
    margin: 0;
    color: white;
    transition: $transition;
    &.gradient{
      background: var(--headerTitle);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media (max-width: $laptop) {
     line-height: 21px;
    }
    @media (max-width: $tablet) {
      font-size: 26px;
      line-height: 30px;
    }
    @media (max-width: $mobile) {
      font-size: 18px;
      line-height: 20px;
      max-width: 276px;
      background: linear-gradient(90deg, rgba(253,93,16,1) 0%, rgba(240,11,107,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }
  &.header_fixed{
    & h1 {
      color: black;
      @media (max-width: $tablet) {
        color: white;
        background: linear-gradient(90deg, rgba(253,93,16,1) 0%, rgba(240,11,107,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &.transparent{
    & h1 {
      opacity: 0;
    }
  }

  @media (max-width: $tablet) {
    max-width: 400px;
  }
}


/////////////////////////////////////////// navigation  /////////////////////////////////////

.header_nav_container {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 60px;
  width: 100%;
  position: relative;
  transition: $transition;
  border: 1px solid white;
  &.header_fixed{
    border: 1px solid #d5d5d5;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

.header_nav{
  position: relative;
  z-index: 101;
  width: 980px;
  & a:hover{
    color: $color2;
  }
  @media (max-width: $laptop) {
    width: 730px;
  }
  @media (max-width: 1550px) {
    width: 705px;
  }
}
.header_nav_list{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}


/////////////////////////////////////////// nav item  //////////////////////////////////////////

.header_nav_item{
  display: flex;
  align-items: center;
  transition: $transition;
  &.hover{
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
  }
  &.disableOverlayShadow{
    filter: unset;
  }
}


/////////////////////////////////////////// nav item overlay  //////////////////////////////////

$paddingOverlay: 24px;
$paddingYellowClasses: 14px;
$paddingOverlayClasses: $paddingOverlay - $paddingYellowClasses;

$paddingOverlayMid: 14px;
$paddingYellowClassesMid: 6px;
$paddingOverlayClassesMid: $paddingOverlayMid - $paddingYellowClassesMid;

.header_nav_item_overlay{
  position: relative;
  display: flex;
  align-items: center;
  padding: $paddingOverlay;
  cursor: pointer;
  transition: $transition;
  height: calc(100% - 20px);
  margin-top: - 10px;
  padding-top: calc($paddingOverlay + 10px);
  border-radius: 20px 20px 0 0;
  @include concave($concaveTopRight);

  &.hover{
    background: $color1;
    &:after{
      opacity: 1;
    }
  }
  &.classes{
    padding: $paddingOverlayClasses;
    margin-right: 14px;
    height: calc(100% - 10px);
    border-radius: 40px 30px 0 0;
    padding-top: calc($paddingOverlayClasses + 10px);

    &.concave_disable{
      &:after{
        user-select: none;
        pointer-events: none;
        opacity: 0;
      }
    }
    @media (max-width: $laptop) {
      padding: $paddingOverlayClassesMid;
      padding-top: calc($paddingOverlayClassesMid + 10px);
      margin-right: 2px;
      border-radius: 30px 30px 0 0;
    }
  }
  &.disable{
    background: unset;
    border-radius: unset;
    height: unset;
    cursor: unset;
    &:after{
      all: unset;
    }
  }

  @media (max-width: $laptop) {
    padding: $paddingOverlayMid;
    padding-top: calc($paddingOverlayMid + 10px);
  }
}

.header_nav_item_classes{
  display: flex;
  align-items: center;
  background: #ffc800;
  border-radius: 30px;
  padding: $paddingYellowClasses 26px;
  z-index: 100;
  @media (max-width: $laptop) {
    padding: $paddingYellowClassesMid calc($paddingYellowClassesMid + 12px);
  }
}

.header_nav_item_title_wrapper{
  display: flex;
  align-items: center;
}
.header_nav_item_title{
  @include font22;
  font-family: $gilroySemiBold;
  line-height: 30px;
  &.classes{
      padding-left: 0;
    }
}

.header_arrow{
  height: 12px;
  width: auto;
  margin-left: 10px;
  transition: $transition;
  &.hover{
    transform: rotate(180deg);
  }
  @media (max-width: $laptop) {
    margin-top: 2px;
    margin-left: 6px;
    height: 8px;

  }

}
.menu_icon {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 12px;

  & span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: $transition;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  &.active{
    transform: translateX(-50%);
    & span {
      &:nth-child(1) {
        transform: rotate(45deg) translate(50%, 50%);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(50%, -50%);
      }
    }
    @media (max-width: $laptop) {
      transform: translateX(-25%);

      & span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(45%, 50%);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(45%, -50%);
        }
      }
    }
    @media (max-width: $tablet) {
      transform: translateX(-30%);
      & span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(50%, 50%);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(50%, -50%);
        }
      }
    }
    @media (max-width: $mobile) {
      transform: translateX(-29%);
      & span {
        &:nth-child(1) {
          transform: rotate(45deg) translate(50%, 60%);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(50%, -50%);
        }
      }
    }
  }

  @media (max-width: $laptop) {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  @media (max-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}


/////////////////////////////////////////// drop list //////////////////////////////////

.header_nav_drop_list {
  /*
  display: none;
  */
  opacity: 0;
  background: $color1;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  padding: 30px;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 999;
  transition: $transition;
  user-select: none;
  pointer-events: none;
  &.hover {
    /*
    display: block;
    */
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
  }

  @media (max-width: $laptop) {
    padding: 18px;
    transform: translateY(100%);
  }
  @media (max-width: $tablet) {
    all: unset;
  }

}
.classes_list{
  padding: 4px 12px 12px 0;
  border-radius: 0 0 20px 20px;
  width: var(--width);
  z-index: 90;
  @include concave($concaveBottomLeft);
  &.classes_hover{
    padding: 4px 12px 12px 0;
    border-radius: 0 0 0 20px;
    &:after{
      opacity: 1;
    }
  }
}

.header_drop_list_item{
  @include font22;
  font-family: $gilroyMedium;
  list-style-type: none;
  line-height: 46px;
  white-space: nowrap;
  @media (max-width: $laptop) {
    line-height: 34px;
  }
}
.classes_drop_item{
  border-radius: 0 20px 20px 0 ;
  padding-left: 66px;
  padding-right: 24px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  & img{
    /*
    margin-left: 52px;
    */
    width: auto;
    height: 18px;
    @media (max-width: $laptop) {
      margin-left: 26px;
      height: 14px;
      width: auto;
    }
  }
  & svg{
    height: 24px;
    width: auto;
    @media (max-width: $laptop) {
      height: 20px;
    }
    & path{
      fill: #c2c2c2;
    }
  }
  &.hover{
    background: white;
    & svg path{
      fill: black;
    }
  }
  &.disabled{
    cursor: auto;
  }
  @media (max-width: $laptop) {
    padding-left: 48px;
    padding-right: 24px;

  }
}
.class_number{
  @include font32;
  font-family: $gilroyMedium;
  list-style-type: none;
  line-height: 54px;
  color: #656565;
  &.hover{
    color: black;
  }
}


/////////////////////////////////////////// classes content //////////////////////////////////

$headerClassesContentHeight: 690px;
$headerClassesContentHeight2: 546px;
$headerClassesContentPadding: 22px;
$headerClassesContentListHeight: $headerClassesContentHeight - $headerClassesContentPadding * 2;

.header_classes_content{
  $left: var(--headerNavDropListWidth);
  /*
  background: $color1;
  */
  position: absolute;
  left: $left;
  top: 0;
  padding: $headerClassesContentPadding 48px 0;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 345;
  width: calc(var(--headerNavContainerWidth) - $left) !important;
  height: $headerClassesContentHeight;
  transition: $transition;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  &.hover{
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
  }
  @media (max-width: $laptop) {
    height: $headerClassesContentHeight2;
  }
}
.drop_list_bg{
  $left: var(--headerNavDropListWidth);
  position: absolute;
  top: 68px;
  left: $left;
  width: calc(var(--headerNavContainerWidth) - $left) !important;
  height: $headerClassesContentHeight;
  border-radius: 0 20px 20px 20px;
  transition: $transition;
  background: $color1;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  &.hover{
    opacity: 1;
  }
  @media (max-width: $laptop) {
    top: 48px;
    height: $headerClassesContentHeight2;
  }
}
.header_classes_content_list{
  display: flex;
  flex-flow: column wrap;
  white-space: normal;
  gap: 14px;
  height: $headerClassesContentListHeight;

  @media (max-width: $laptop) {
    height: $headerClassesContentHeight2;
  }
  @media (max-width: $tablet) {
    flex-flow: column nowrap;
    height: 100%;
    padding-bottom: 28px;
  }
}
.header_classes_content_item{
  width: 50%;
  margin: 0 0 4px 0;
  padding: 0;
  @media (max-width: $laptop) {
    margin: 0;
  }
  @media (max-width: $tablet) {
    width: 100%;
  }


}

.header_classes_title{
  @include font16;
  font-family: $gilroyExtraBold;
  margin: 0 0 -4px 0;
  padding: 0;
  display: block;
  @media (max-width: $mobile) {
    font-size: 22px;
    line-height: 44px;
  }
}
.header_classes_chapter{
  @include font16;
  line-height: 22px;
  font-family: $gilroyMedium;
  list-style-type: none;
  counter-reset: section;
  padding-left: 0;
  margin-top: 10px;
  & li{
      margin: 22px 0;
    @media (max-width: $laptop) {
      margin: 14px 0;
    }
      @media (max-width: $mobile) {
        font-size: 22px;
        line-height: 44px;
      }
  }
  & li:before{
    content: "§ " counter(section) ". ";
    counter-increment: section;
  }
  @media (max-width: $laptop) {
    line-height: 1.2;
  }
}




/////////////////////////////////////////// mobile header //////////////////////////////////

.mobile_menu_icon{
  width: 68px;
  height: 60px;
  background: #ffc800;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  transition: $transition;
  z-index: 100;
  margin-right: 20px;
  @media (max-width: $tablet) {
    display: flex;
  }
  @media (max-width: $mobile) {
    width: 50px;
    height: 44px;
    margin-right: 10px;
  }
}
.mobile_icon_container{
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.mobile_header_menu{
  display: none;
  @media (max-width: $tablet) {
    display: block;
    opacity: 1;
    transition: $transition;
    transform: translateY(-720px);
    margin-left: $containerMargin4;
    &.active{
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @media (max-width: $mobile) {
    transform: translateY(-750px);

  }

}


/////////////////////////////////////////// mobile navigation //////////////////////////////////


.mobile_header_nav_container{
  width: 100vw;
  margin-left: - $containerMargin3;
  background: $color1;
  z-index: 1;
}

.m_nav_item {
  border-top: 1px solid #c2c2c2;
  &:last-child{
    border-bottom: 1px solid #c2c2c2;
    &:after{
      content: '';
      width: 100vw;
      height: 100px;
      background: $color1;
      position: absolute;
      bottom: -100px;
      left: -$containerMargin3;
      z-index: -1;
    }
  }
}
.m_nav_item_title {
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 22px;
  line-height: 75px;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & span {
    font-family: $gilroySemiBold;
    font-size: 22px;
    line-height: 75px;
    color: black;
  }
  @media (max-width: $mobile) {
    padding-left: 0;
  }
}
.m_nav_item_content {
  padding: 0 26px 20px 26px;
  display: none;
  overflow-y: auto;
  width: 100%;
  max-height: 530px;
  & li,span{
    font-size: 18px;
  }
}
.m_nav_item_arrow {
  width: 15px;
  height: 15px;
  position: relative;
  & span{
    transition: $transition;
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    &:nth-child(1){
      left: -10px;
      bottom: 0;
      transform: rotate(45deg);
    }
    &:nth-child(2){
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
  &.active {
    & span {
      &:nth-child(1) {
        transform: rotate(0deg);
      }

      &:nth-child(2) {
        transform: rotate(0deg);
      }
    }
  }
}



/////////////////////////////////////// region //////////////////////////////////////////////

.region{
  position: absolute;
  right: $containerMargin1;
  top: 105px;
  cursor: pointer;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: $transition;
  &.hidden{
    display: none;
  }
  &.scroll{
    top: 120px;
    @media (max-width: $laptop) {
      top: 86px;
    }
  }
  @media (max-width: $laptop) {
    right: $containerMargin2;
    top: 76px;
  }
  @media (max-width: 1199px) {
    right: $containerMargin3;
    top: 84px;
  }
  @media (max-width: $tablet) {
    display: none;
  }

}

.region_city_name{
  font-family: $openSansSemiBold;
  line-height: 30px;
  font-size: 17px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
  white-space: nowrap;
  color: white;
  margin-right: 30px;
  margin-bottom: 16px;
  cursor: pointer;
  @media (max-width: $laptop) {
    @include font16;
    margin-right: 20px;
  }
  @media (max-width: $tablet) {
    font-size: 22px;
    line-height: 30px;
    color: black;
    margin: 0;
  }
}
.region_check_wrapper{
  position: relative;
  &.hidden{
    display: none;
  }
}
.region_check{
  background: white;
  border-radius: 20px;
  padding: 8px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & span{
    @include font22;
    font-family: $gilroyBold;
    margin-bottom: 20px;
  }
  &:before{
    content: '';
    position: relative;
    width: 0;
    height: 0;
    top: -24px;
    right: -130px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
    @media (max-width: $laptop) {
      @include font16;
      right: -100px;
      top: -16px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid white;
    }
  }
  @media (max-width: $laptop) {
    padding: 8px 20px 20px 20px;
  }
}

.region_buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  & button{
    @include button($color2, $color2);
    border-radius: 30px;
    &:last-child{
      @include button(white, white);
      color: $color2;
      @media (max-width: $laptop) {
        @include font16;
        padding: 10px 20px;
      }
    }
    @media (max-width: $laptop) {
      @include font16;
      padding: 10px 20px;
    }
  }
}

.mobile_region{
  padding: 26px $containerMargin3 0;
  @media (max-width: $mobile) {
    padding: 26px $containerMargin4 0;
  }
}
.mobile_region_name_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 22px 26px;
  @media (max-width: $mobile) {
    padding-left: 0;
  }
}
.mobile_form_wrapper{
  display: none;
}
.m_form_close{
  font-size: 30px;
  margin-right: 3px;
  margin-top: 12px;
  cursor: pointer;
  @media (max-width: $mobile) {
    transform: translateX(1px);
  }
}


/////////////////////////////////////// modal city select //////////////////////////////////////////////

.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: none;
  &.active{
    display: flex;
  }
}
.modal_background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.city_select{
  background: $color1;

  width: 75vw;
  padding: 44px 26px 0 26px;
  border-radius: 30px;
  position: relative;
  & form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & label{
    @include font38;
    font-family: $gilroyBold;
    line-height: 1.2;
    margin-bottom: 26px;
  }
}
#city_input{
  @include font16;
  font-family: $openSans;
  color: #656565;
  line-height: 3;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;  border: 1px solid $color1;
  padding: 0 30px;

  &:focus{
    outline:none;
    border: 1px solid $color2;
  }
  @media (max-width: $laptop) {
    line-height: 3;
  }
  @media (max-width: $tablet) {
    font-size: 22px;
    line-height: 30px;
    padding: 30px 24px;
    border-radius: 40px;
    margin: 0;
  }
  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 22px;
    padding: 20px 24px;
    height: 80px;
  }

}
.city_input_label{
  @media (max-width: $tablet) {
    display: none;
  }
}

.cities_tags{
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  @media (max-width: $tablet) {
    display: none;
  }
}
.city_tag{
  background: $color2;
  padding: 2px 30px;
  border-radius: 30px;
  cursor: pointer;
  list-style-type: none;
  transition: $transition;
  &:hover{
    background: $color4;
  }
  & label{
    @include font16;
    font-family: $openSansSemiBold;
    line-height: 3;
    color: white;
    cursor: pointer;
    @media (max-width: $laptop) {
      line-height: 3;
    }
  }
  & input{
    display: none;
  }
}

#city_select_form{
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: -40px;
  }
}
.mobile_city_submit{
  @include button($color2, $color2);
  color: white;
  top: -75px;
  right: 20px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
  transition: 0.5s;
  width: 154px;
  & svg{
    margin-right: 10px;
    height: 20px;
    width: auto;
    & path{
      fill: white;
    }
    @media (max-width: $mobile) {
      margin-right: 0;
      height: 30px;
    }
  }
  & .submit_text{
    @media (max-width: $mobile) {
      display: none;
    }
  }
  @media (max-width: $tablet) {
    display: flex;
  }
  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0;
    top: -70px;
    right: 12px;
    width: 80px;
    height: 60px;
  }
}

.cities_list_wrapper{
  width: calc(100% + 52px);
  padding: 0 26px;
  height: 508px;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  & li{
    list-style-type: none;
  }
  @media (max-width: $laptop) {
    height: 320px;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}
#cities_list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-height: 530px;
  gap: 20px;
}
.cities_list_item{
  width: 100%;
  & label {
    @include font16;
    font-family: $openSans;
    cursor: pointer;
  }
  & input{
    display: none;
  }

}
.cities_list_letter{
  @include font26;
  font-family: $gilroyExtraBold;
}

.cities_list_gradient{
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 16px);
  height: 10vw;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  user-select: none;
  pointer-events: none;
}
.modal_close{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}


