@charset "UTF-8";
@import '../fonts/stylesheet.css';
@import '../styles/ThemeColors.css';
.container {
  margin: 0 105px;
  box-sizing: border-box;
}
@media (max-width: 1600px) {
  .container {
    margin: 0 70px;
  }
}
@media (max-width: 1199px) {
  .container {
    margin: 0 20px;
  }
}
@media (max-width: 600px) {
  .container {
    margin: 0 10px;
  }
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 100;
  padding: 20px 105px;
  transition: 0.3s;
}
.header li {
  list-style-type: none;
}
.header ul {
  list-style-type: none;
}
.header.header_fixed {
  background: white;
}
.header.background {
  background: var(--headerBG);
}
.header.activeMobile {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #f3f3f3;
}
.header.activeMobile::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 1600px) {
  .header {
    padding: 12px 70px;
  }
}
@media (max-width: 1199px) {
  .header {
    padding: 22px 20px 18px;
    height: 105px;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 20px 10px;
    height: 84px;
    background: white;
    max-height: 100vh;
  }
}

.header_container {
  display: grid;
  grid-template-areas: "title title title nav nav nav nav nav nav nav nav nav";
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}
@media (max-width: 1100px) {
  .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 640px) {
  .header_container {
    justify-content: flex-start;
  }
}

.header_title_wrapper {
  grid-area: title;
  display: flex;
  align-items: center;
}
.header_title_wrapper h1 {
  font-family: "GilroyExtraBold";
  font-size: max(1.35vw, 18px);
  line-height: 1.154;
  line-height: 30px;
  margin: 0;
  color: white;
  transition: 0.3s;
}
.header_title_wrapper h1.gradient {
  background: var(--headerTitle);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1600px) {
  .header_title_wrapper h1 {
    line-height: 21px;
  }
}
@media (max-width: 1100px) {
  .header_title_wrapper h1 {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 600px) {
  .header_title_wrapper h1 {
    font-size: 18px;
    line-height: 20px;
    max-width: 276px;
    background: linear-gradient(90deg, #fd5d10 0%, #f00b6b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header_title_wrapper.header_fixed h1 {
  color: black;
}
@media (max-width: 1100px) {
  .header_title_wrapper.header_fixed h1 {
    color: white;
    background: linear-gradient(90deg, #fd5d10 0%, #f00b6b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header_title_wrapper.transparent h1 {
  opacity: 0;
}
@media (max-width: 1100px) {
  .header_title_wrapper {
    max-width: 400px;
  }
}

.header_nav_container {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 60px;
  width: 100%;
  position: relative;
  transition: 0.3s;
  border: 1px solid white;
}
.header_nav_container.header_fixed {
  border: 1px solid #d5d5d5;
}
@media (max-width: 1100px) {
  .header_nav_container {
    display: none;
  }
}

.header_nav {
  position: relative;
  z-index: 101;
  width: 980px;
}
.header_nav a:hover {
  color: #e87b5a;
}
@media (max-width: 1600px) {
  .header_nav {
    width: 730px;
  }
}
@media (max-width: 1550px) {
  .header_nav {
    width: 705px;
  }
}

.header_nav_list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header_nav_item {
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.header_nav_item.hover {
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
}
.header_nav_item.disableOverlayShadow {
  filter: unset;
}

.header_nav_item_overlay {
  position: relative;
  display: flex;
  align-items: center;
  padding: 24px;
  cursor: pointer;
  transition: 0.3s;
  height: calc(100% - 20px);
  margin-top: -10px;
  padding-top: 34px;
  border-radius: 20px 20px 0 0;
}
.header_nav_item_overlay:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  padding: 13px 15px;
  transition: 0.3s;
  opacity: 0;
  background: -moz-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 24px, #f3f3f3 25px);
  background: -o-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 24px, #f3f3f3 25px);
  background: -webkit-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 14px, #f3f3f3 15px);
  background-position: bottom right;
  -moz-background-size: 50% 50%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  bottom: 0;
  right: -15px;
  mix-blend-mode: difference;
}
.header_nav_item_overlay.hover {
  background: #f3f3f3;
}
.header_nav_item_overlay.hover:after {
  opacity: 1;
}
.header_nav_item_overlay.classes {
  padding: 10px;
  margin-right: 14px;
  height: calc(100% - 10px);
  border-radius: 40px 30px 0 0;
  padding-top: 20px;
}
.header_nav_item_overlay.classes.concave_disable:after {
  user-select: none;
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 1600px) {
  .header_nav_item_overlay.classes {
    padding: 8px;
    padding-top: 18px;
    margin-right: 2px;
    border-radius: 30px 30px 0 0;
  }
}
.header_nav_item_overlay.disable {
  background: unset;
  border-radius: unset;
  height: unset;
  cursor: unset;
}
.header_nav_item_overlay.disable:after {
  all: unset;
}
@media (max-width: 1600px) {
  .header_nav_item_overlay {
    padding: 14px;
    padding-top: 24px;
  }
}

.header_nav_item_classes {
  display: flex;
  align-items: center;
  background: #ffc800;
  border-radius: 30px;
  padding: 14px 26px;
  z-index: 100;
}
@media (max-width: 1600px) {
  .header_nav_item_classes {
    padding: 6px 18px;
  }
}

.header_nav_item_title_wrapper {
  display: flex;
  align-items: center;
}

.header_nav_item_title {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  font-family: "GilroySemiBold";
  line-height: 30px;
}
@media (min-width: 2000px) {
  .header_nav_item_title {
    font-size: 20px;
  }
}
.header_nav_item_title.classes {
  padding-left: 0;
}

.header_arrow {
  height: 12px;
  width: auto;
  margin-left: 10px;
  transition: 0.3s;
}
.header_arrow.hover {
  transform: rotate(180deg);
}
@media (max-width: 1600px) {
  .header_arrow {
    margin-top: 2px;
    margin-left: 6px;
    height: 8px;
  }
}

.menu_icon {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 12px;
}
.menu_icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: 0.3s;
}
.menu_icon span:nth-child(1) {
  top: 0;
}
.menu_icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.menu_icon span:nth-child(3) {
  bottom: 0;
}
.menu_icon.active {
  transform: translateX(-50%);
}
.menu_icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(50%, 50%);
}
.menu_icon.active span:nth-child(2) {
  opacity: 0;
}
.menu_icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(50%, -50%);
}
@media (max-width: 1600px) {
  .menu_icon.active {
    transform: translateX(-25%);
  }
  .menu_icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(45%, 50%);
  }
  .menu_icon.active span:nth-child(2) {
    opacity: 0;
  }
  .menu_icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(45%, -50%);
  }
}
@media (max-width: 1100px) {
  .menu_icon.active {
    transform: translateX(-30%);
  }
  .menu_icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(50%, 50%);
  }
  .menu_icon.active span:nth-child(2) {
    opacity: 0;
  }
  .menu_icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(50%, -50%);
  }
}
@media (max-width: 600px) {
  .menu_icon.active {
    transform: translateX(-29%);
  }
  .menu_icon.active span:nth-child(1) {
    transform: rotate(45deg) translate(50%, 60%);
  }
  .menu_icon.active span:nth-child(2) {
    opacity: 0;
  }
  .menu_icon.active span:nth-child(3) {
    transform: rotate(-45deg) translate(50%, -50%);
  }
}
@media (max-width: 1600px) {
  .menu_icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}
@media (max-width: 1100px) {
  .menu_icon {
    width: 20px;
    height: 20px;
  }
}

.header_nav_drop_list {
  /*
  display: none;
  */
  opacity: 0;
  background: #f3f3f3;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  padding: 30px;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 999;
  transition: 0.3s;
  user-select: none;
  pointer-events: none;
}
.header_nav_drop_list.hover {
  /*
  display: block;
  */
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}
@media (max-width: 1600px) {
  .header_nav_drop_list {
    padding: 18px;
    transform: translateY(100%);
  }
}
@media (max-width: 1100px) {
  .header_nav_drop_list {
    all: unset;
  }
}

.classes_list {
  padding: 4px 12px 12px 0;
  border-radius: 0 0 20px 20px;
  width: var(--width);
  z-index: 90;
}
.classes_list:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  padding: 13px 15px;
  transition: 0.3s;
  opacity: 0;
  background: -moz-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 24px, #f3f3f3 25px);
  background: -o-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 24px, #f3f3f3 25px);
  background: -webkit-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 14px, #f3f3f3 15px);
  background-position: bottom left;
  -moz-background-size: 50% 50%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  bottom: -14px;
  right: -15px;
}
.classes_list.classes_hover {
  padding: 4px 12px 12px 0;
  border-radius: 0 0 0 20px;
}
.classes_list.classes_hover:after {
  opacity: 1;
}

.header_drop_list_item {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  font-family: "GilroyMedium";
  list-style-type: none;
  line-height: 46px;
  white-space: nowrap;
}
@media (min-width: 2000px) {
  .header_drop_list_item {
    font-size: 20px;
  }
}
@media (max-width: 1600px) {
  .header_drop_list_item {
    line-height: 34px;
  }
}

.classes_drop_item {
  border-radius: 0 20px 20px 0;
  padding-left: 66px;
  padding-right: 24px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.classes_drop_item img {
  /*
  margin-left: 52px;
  */
  width: auto;
  height: 18px;
}
@media (max-width: 1600px) {
  .classes_drop_item img {
    margin-left: 26px;
    height: 14px;
    width: auto;
  }
}
.classes_drop_item svg {
  height: 24px;
  width: auto;
}
@media (max-width: 1600px) {
  .classes_drop_item svg {
    height: 20px;
  }
}
.classes_drop_item svg path {
  fill: #c2c2c2;
}
.classes_drop_item.hover {
  background: white;
}
.classes_drop_item.hover svg path {
  fill: black;
}
.classes_drop_item.disabled {
  cursor: auto;
}
@media (max-width: 1600px) {
  .classes_drop_item {
    padding-left: 48px;
    padding-right: 24px;
  }
}

.class_number {
  font-size: max(1.67vw, 24px);
  line-height: 1;
  font-family: "GilroyMedium";
  list-style-type: none;
  line-height: 54px;
  color: #656565;
}
@media (min-width: 2000px) {
  .class_number {
    font-size: 32px;
  }
}
.class_number.hover {
  color: black;
}

.header_classes_content {
  /*
  background: $color1;
  */
  position: absolute;
  left: var(--headerNavDropListWidth);
  top: 0;
  padding: 22px 48px 0;
  border-radius: 0 20px 20px 20px;
  margin: 0;
  z-index: 345;
  width: calc(var(--headerNavContainerWidth) - var(--headerNavDropListWidth)) !important;
  height: 690px;
  transition: 0.3s;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.header_classes_content.hover {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}
@media (max-width: 1600px) {
  .header_classes_content {
    height: 546px;
  }
}

.drop_list_bg {
  position: absolute;
  top: 68px;
  left: var(--headerNavDropListWidth);
  width: calc(var(--headerNavContainerWidth) - var(--headerNavDropListWidth)) !important;
  height: 690px;
  border-radius: 0 20px 20px 20px;
  transition: 0.3s;
  background: #f3f3f3;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
.drop_list_bg.hover {
  opacity: 1;
}
@media (max-width: 1600px) {
  .drop_list_bg {
    top: 48px;
    height: 546px;
  }
}

.header_classes_content_list {
  display: flex;
  flex-flow: column wrap;
  white-space: normal;
  gap: 14px;
  height: 646px;
}
@media (max-width: 1600px) {
  .header_classes_content_list {
    height: 546px;
  }
}
@media (max-width: 1100px) {
  .header_classes_content_list {
    flex-flow: column nowrap;
    height: 100%;
    padding-bottom: 28px;
  }
}

.header_classes_content_item {
  width: 50%;
  margin: 0 0 4px 0;
  padding: 0;
}
@media (max-width: 1600px) {
  .header_classes_content_item {
    margin: 0;
  }
}
@media (max-width: 1100px) {
  .header_classes_content_item {
    width: 100%;
  }
}

.header_classes_title {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  font-family: "GilroyExtraBold";
  margin: 0 0 -4px 0;
  padding: 0;
  display: block;
}
@media (max-width: 1600px) {
  .header_classes_title {
    line-height: 26px;
  }
}
@media (max-width: 1100px) {
  .header_classes_title {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .header_classes_title {
    font-size: 22px;
    line-height: 44px;
  }
}

.header_classes_chapter {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  line-height: 22px;
  font-family: "GilroyMedium";
  list-style-type: none;
  counter-reset: section;
  padding-left: 0;
  margin-top: 10px;
}
@media (max-width: 1600px) {
  .header_classes_chapter {
    line-height: 26px;
  }
}
@media (max-width: 1100px) {
  .header_classes_chapter {
    font-size: 16px;
  }
}
.header_classes_chapter li {
  margin: 22px 0;
}
@media (max-width: 1600px) {
  .header_classes_chapter li {
    margin: 14px 0;
  }
}
@media (max-width: 600px) {
  .header_classes_chapter li {
    font-size: 22px;
    line-height: 44px;
  }
}
.header_classes_chapter li:before {
  content: "§ " counter(section) ". ";
  counter-increment: section;
}
@media (max-width: 1600px) {
  .header_classes_chapter {
    line-height: 1.2;
  }
}

.mobile_menu_icon {
  width: 68px;
  height: 60px;
  background: #ffc800;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  transition: 0.3s;
  z-index: 100;
  margin-right: 20px;
}
@media (max-width: 1100px) {
  .mobile_menu_icon {
    display: flex;
  }
}
@media (max-width: 600px) {
  .mobile_menu_icon {
    width: 50px;
    height: 44px;
    margin-right: 10px;
  }
}

.mobile_icon_container {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.mobile_header_menu {
  display: none;
}
@media (max-width: 1100px) {
  .mobile_header_menu {
    display: block;
    opacity: 1;
    transition: 0.3s;
    transform: translateY(-720px);
    margin-left: 10px;
  }
  .mobile_header_menu.active {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 600px) {
  .mobile_header_menu {
    transform: translateY(-750px);
  }
}

.mobile_header_nav_container {
  width: 100vw;
  margin-left: -20px;
  background: #f3f3f3;
  z-index: 1;
}

.m_nav_item {
  border-top: 1px solid #c2c2c2;
}
.m_nav_item:last-child {
  border-bottom: 1px solid #c2c2c2;
}
.m_nav_item:last-child:after {
  content: "";
  width: 100vw;
  height: 100px;
  background: #f3f3f3;
  position: absolute;
  bottom: -100px;
  left: -20px;
  z-index: -1;
}

.m_nav_item_title {
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: 22px;
  line-height: 75px;
  padding: 0 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m_nav_item_title span {
  font-family: "GilroySemiBold";
  font-size: 22px;
  line-height: 75px;
  color: black;
}
@media (max-width: 600px) {
  .m_nav_item_title {
    padding-left: 0;
  }
}

.m_nav_item_content {
  padding: 0 26px 20px 26px;
  display: none;
  overflow-y: auto;
  width: 100%;
  max-height: 530px;
}
.m_nav_item_content li, .m_nav_item_content span {
  font-size: 18px;
}

.m_nav_item_arrow {
  width: 15px;
  height: 15px;
  position: relative;
}
.m_nav_item_arrow span {
  transition: 0.3s;
  position: absolute;
  width: 100%;
  height: 3px;
  background: black;
}
.m_nav_item_arrow span:nth-child(1) {
  left: -10px;
  bottom: 0;
  transform: rotate(45deg);
}
.m_nav_item_arrow span:nth-child(2) {
  bottom: 0;
  transform: rotate(-45deg);
}
.m_nav_item_arrow.active span:nth-child(1) {
  transform: rotate(0deg);
}
.m_nav_item_arrow.active span:nth-child(2) {
  transform: rotate(0deg);
}

.region {
  position: absolute;
  right: 105px;
  top: 105px;
  cursor: pointer;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.3s;
}
.region.hidden {
  display: none;
}
.region.scroll {
  top: 120px;
}
@media (max-width: 1600px) {
  .region.scroll {
    top: 86px;
  }
}
@media (max-width: 1600px) {
  .region {
    right: 70px;
    top: 76px;
  }
}
@media (max-width: 1199px) {
  .region {
    right: 20px;
    top: 84px;
  }
}
@media (max-width: 1100px) {
  .region {
    display: none;
  }
}

.region_city_name {
  font-family: "OpenSansSemiBold";
  line-height: 30px;
  font-size: 17px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 6px;
  white-space: nowrap;
  color: white;
  margin-right: 30px;
  margin-bottom: 16px;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .region_city_name {
    font-size: max(0.8333vw, 14px);
    line-height: 1.875;
    margin-right: 20px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .region_city_name {
    line-height: 26px;
  }
}
@media (max-width: 1600px) and (max-width: 1100px) {
  .region_city_name {
    font-size: 16px;
  }
}
@media (max-width: 1100px) {
  .region_city_name {
    font-size: 22px;
    line-height: 30px;
    color: black;
    margin: 0;
  }
}

.region_check_wrapper {
  position: relative;
}
.region_check_wrapper.hidden {
  display: none;
}

.region_check {
  background: white;
  border-radius: 20px;
  padding: 8px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.region_check span {
  font-size: max(1.15vw, 16px);
  line-height: 1;
  font-family: "GilroyBold";
  margin-bottom: 20px;
}
@media (min-width: 2000px) {
  .region_check span {
    font-size: 20px;
  }
}
.region_check:before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  top: -24px;
  right: -130px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}
@media (max-width: 1600px) {
  .region_check:before {
    font-size: max(0.8333vw, 14px);
    line-height: 1.875;
    right: -100px;
    top: -16px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .region_check:before {
    line-height: 26px;
  }
}
@media (max-width: 1600px) and (max-width: 1100px) {
  .region_check:before {
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  .region_check {
    padding: 8px 20px 20px 20px;
  }
}

.region_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.region_buttons button {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  line-height: 1;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid #e87b5a;
  color: white;
  background: #e87b5a;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
}
.region_buttons button:hover {
  background: #e87b5a;
}
.region_buttons button:last-child {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  line-height: 1;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid #e87b5a;
  color: white;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  color: #e87b5a;
}
.region_buttons button:last-child:hover {
  background: white;
}
@media (max-width: 1600px) {
  .region_buttons button:last-child {
    font-size: max(0.8333vw, 14px);
    line-height: 1.875;
    padding: 10px 20px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .region_buttons button:last-child {
    line-height: 26px;
  }
}
@media (max-width: 1600px) and (max-width: 1100px) {
  .region_buttons button:last-child {
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  .region_buttons button {
    font-size: max(0.8333vw, 14px);
    line-height: 1.875;
    padding: 10px 20px;
  }
}
@media (max-width: 1600px) and (max-width: 1600px) {
  .region_buttons button {
    line-height: 26px;
  }
}
@media (max-width: 1600px) and (max-width: 1100px) {
  .region_buttons button {
    font-size: 16px;
  }
}

.mobile_region {
  padding: 26px 20px 0;
}
@media (max-width: 600px) {
  .mobile_region {
    padding: 26px 10px 0;
  }
}

.mobile_region_name_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 22px 26px;
}
@media (max-width: 600px) {
  .mobile_region_name_wrapper {
    padding-left: 0;
  }
}

.mobile_form_wrapper {
  display: none;
}

.m_form_close {
  font-size: 30px;
  margin-right: 3px;
  margin-top: 12px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .m_form_close {
    transform: translateX(1px);
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal.active {
  display: flex;
}

.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.city_select {
  background: #f3f3f3;
  width: 75vw;
  padding: 44px 26px 0 26px;
  border-radius: 30px;
  position: relative;
}
.city_select form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city_select label {
  font-size: max(1.9792vw, 26px);
  line-height: 1;
  font-family: "GilroyBold";
  line-height: 1.2;
  margin-bottom: 26px;
}
@media (max-width: 1100px) {
  .city_select label {
    font-size: 38px;
  }
}

#city_input {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  font-family: "OpenSans";
  color: #656565;
  line-height: 3;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;
  border: 1px solid #f3f3f3;
  padding: 0 30px;
}
@media (max-width: 1600px) {
  #city_input {
    line-height: 26px;
  }
}
@media (max-width: 1100px) {
  #city_input {
    font-size: 16px;
  }
}
#city_input:focus {
  outline: none;
  border: 1px solid #e87b5a;
}
@media (max-width: 1600px) {
  #city_input {
    line-height: 3;
  }
}
@media (max-width: 1100px) {
  #city_input {
    font-size: 22px;
    line-height: 30px;
    padding: 30px 24px;
    border-radius: 40px;
    margin: 0;
  }
}
@media (max-width: 600px) {
  #city_input {
    font-size: 16px;
    line-height: 22px;
    padding: 20px 24px;
    height: 80px;
  }
}

@media (max-width: 1100px) {
  .city_input_label {
    display: none;
  }
}

.cities_tags {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
}
@media (max-width: 1100px) {
  .cities_tags {
    display: none;
  }
}

.city_tag {
  background: #e87b5a;
  padding: 2px 30px;
  border-radius: 30px;
  cursor: pointer;
  list-style-type: none;
  transition: 0.3s;
}
.city_tag:hover {
  background: #d7613d;
}
.city_tag label {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  font-family: "OpenSansSemiBold";
  line-height: 3;
  color: white;
  cursor: pointer;
}
@media (max-width: 1600px) {
  .city_tag label {
    line-height: 26px;
  }
}
@media (max-width: 1100px) {
  .city_tag label {
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  .city_tag label {
    line-height: 3;
  }
}
.city_tag input {
  display: none;
}

@media (max-width: 1100px) {
  #city_select_form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: -40px;
  }
}

.mobile_city_submit {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  line-height: 1;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid #e87b5a;
  color: white;
  background: #e87b5a;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  top: -75px;
  right: 20px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
  transition: 0.5s;
  width: 154px;
}
.mobile_city_submit:hover {
  background: #e87b5a;
}
.mobile_city_submit svg {
  margin-right: 10px;
  height: 20px;
  width: auto;
}
.mobile_city_submit svg path {
  fill: white;
}
@media (max-width: 600px) {
  .mobile_city_submit svg {
    margin-right: 0;
    height: 30px;
  }
}
@media (max-width: 600px) {
  .mobile_city_submit .submit_text {
    display: none;
  }
}
@media (max-width: 1100px) {
  .mobile_city_submit {
    display: flex;
  }
}
@media (max-width: 600px) {
  .mobile_city_submit {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 0;
    top: -70px;
    right: 12px;
    width: 80px;
    height: 60px;
  }
}

.cities_list_wrapper {
  width: calc(100% + 52px);
  padding: 0 26px;
  height: 508px;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
}
.cities_list_wrapper li {
  list-style-type: none;
}
@media (max-width: 1600px) {
  .cities_list_wrapper {
    height: 320px;
  }
}
@media (max-width: 1100px) {
  .cities_list_wrapper {
    display: none;
  }
}

#cities_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-height: 530px;
  gap: 20px;
}

.cities_list_item {
  width: 100%;
}
.cities_list_item label {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  font-family: "OpenSans";
  cursor: pointer;
}
@media (max-width: 1600px) {
  .cities_list_item label {
    line-height: 26px;
  }
}
@media (max-width: 1100px) {
  .cities_list_item label {
    font-size: 16px;
  }
}
.cities_list_item input {
  display: none;
}

.cities_list_letter {
  font-size: max(1.35vw, 18px);
  line-height: 1.154;
  font-family: "GilroyExtraBold";
}

.cities_list_gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 16px);
  height: 10vw;
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
  user-select: none;
  pointer-events: none;
}

.modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

/*# sourceMappingURL=header.css.map */
