@import "../styles/variables";

.map{
  @include main;
  padding-top: 148px;
  @media (max-width: $laptop) {
    padding-top: 96px;
  }
  @media (max-width: $tablet) {
    padding-top: 106px;
  }
}

.map_title{
  @include titlePage;
  margin-bottom: 30px;
  @media (max-width: $laptop) {
    margin-bottom: 48px;
  }
  @media (max-width: $tablet) {
    line-height: 1;
    margin-bottom: 46px;
  }
}

.map_search{
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
  @media (max-width: $laptop) {
    flex-direction: column;
  }
}
.map_form_wrapper{
  flex: 1;
  @media (max-width: $laptop) {
    margin-bottom: 12px;
  }
}

.map_filter{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: $laptop) {
    margin-bottom: 4px;
  }
  @media (max-width: $tablet) {
    display: inline-block;
  }
}

.map_search_form{
  position: relative;
}

#map_search_input{
  @include font22;
  font-family: $gilroy;
  color: #656565;
  line-height: 3;
  width: 100%;
  border-radius: 40px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2) inset;  border: 1px solid $color1;
  padding: 0 38px;
  min-height: 80px;
  &:focus{
    outline:none;
    border: 1px solid $color2;
  }
  @media (max-width: $laptop) {
    line-height: 3;
  }
  @media (max-width: $tablet) {
    font-size: 22px;
    line-height: 30px;
    padding: 30px 24px;
    border-radius: 40px;
    margin: 0 0;
  }
  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 22px;
    padding: 20px 24px;
  }

}

#map_search_submit{
  @include button($color2, $color2);
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  width: 154px;
  & svg{
    margin-right: 10px;
    height: 20px;
    width: auto;
    & path{
      fill: white;
    }
    @media (max-width: $mobile) {
      height: 26px;
      margin-left: 8px;
    }
    }
  & .submit_text{
    @media (max-width: $mobile) {
      display: none;
    }
  }
  @media (max-width: $tablet) {
    top: 14px;
    right: 14px;
  }
  @media (max-width: $mobile) {
    padding: 14px 0;
    top: 12px;
    right: 18px;
    width: 100px;
  }
}

.checkbox_button {
  @include checkboxButton;
}

.map_filter_select{
  @include select;
}
.map_wrapper{
  width: 100%;
  height: 31.25vw;
  margin-bottom: 52px;
  & iframe{
    width: 100%;
    height: 100%;
  }
  @media (max-width: $laptop) {
    margin-bottom: 44px;
  }
  @media (max-width: $tablet) {
    margin-bottom: 48px;
    min-height: 485px;
  }
}

.map_items_wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0;
  column-gap: 20px;
  margin-bottom: 8px;
  @media (max-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 14px;
  }
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    column-gap: 10px;
  }
}

.map_item{
  width: 100%;
  & h5{
    @include itemTitle;
    transition: $transition;
  }
  &.hover{
    & h5{
      color: $color2;
    }
  }
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.map_item_image_wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 12.604vw;
  border-radius: 20px;
  & img{
    transition: $transition;
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $mobile) {
      width: 100%;
      height: auto;
    }
  }
  &.hover{
    & img{
      transform: translate(-50%, -50%) scale(1.03);
    }
  }
  @media (max-width: $laptop) {
    height: 230px;
  }
  @media (max-width: $tablet) {
    width: 100%;
    height:  26.82vw;
  }
  @media (max-width: $mobile) {
    width: 100%;
    height:  202px;
  }
}

.show_more_map{
  @include button($color2, $color4);
  position: relative;
  right: -50%;
  border-radius: 30px;
  transform: translateX(-50%);
  &:hover{
    border: 1px solid $color4;
  }
  @media (max-width: $tablet) {
    margin-bottom: 82px;
  }
}





