@import '../fonts/stylesheet.css';
@import '../styles/ThemeColors.css';
.container {
  margin: 0 105px;
  box-sizing: border-box;
}
@media (max-width: 1600px) {
  .container {
    margin: 0 70px;
  }
}
@media (max-width: 1199px) {
  .container {
    margin: 0 20px;
  }
}
@media (max-width: 600px) {
  .container {
    margin: 0 20px;
  }
}

.partners {
  position: relative;
  width: 100%;
  background: var(--backgroundColor);
  padding: clamp(40px, 3.9063vmax, 76px) 0 110px 0;
  border-radius: 0 0 45px 45px;
  z-index: 2;
  padding-top: 148px;
}
@media (max-width: 1600px) {
  .partners {
    padding-bottom: 86px;
  }
}
@media (max-width: 1100px) {
  .partners {
    padding-top: 26px;
    padding-bottom: 0;
  }
}
@media (max-width: 1600px) {
  .partners {
    padding-top: 100px;
  }
}
@media (max-width: 1100px) {
  .partners {
    padding-bottom: 46px;
    border-radius: 0;
  }
}

.partners_section h2 {
  font-size: max(2.29vw, 32px);
  font-family: "GilroyBlack";
  margin-bottom: 36px;
  color: var(--titleColor);
  margin-bottom: 48px;
}
@media (max-width: 1600px) {
  .partners_section h2 {
    font-size: 2.34vw;
  }
}
@media (max-width: 1100px) {
  .partners_section h2 {
    font-size: 4.1667vw;
  }
}
@media (max-width: 1100px) {
  .partners_section h2 {
    font-size: 44px;
    margin-bottom: 46px;
  }
}
@media (max-width: 600px) {
  .partners_section h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1600px) {
  .partners_section h2 {
    margin-bottom: 36px;
  }
}
@media (max-width: 1100px) {
  .partners_section h2 {
    margin-bottom: 46px;
  }
}
@media (max-width: 1100px) {
  .partners_section {
    margin-bottom: 48px;
  }
}

.partners_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1100px) {
  .partners_wrapper {
    flex-wrap: wrap;
  }
}

.partners_item {
  -webkit-box-shadow: -6px 5px 16px rgba(1, 2, 2, 0.2);
  -moz-box-shadow: -6px 5px 16px rgba(1, 2, 2, 0.2);
  box-shadow: -6px 5px 16px rgba(1, 2, 2, 0.2);
  display: inline-block;
  background: white;
  border-radius: 30px;
  flex-basis: calc(25% - 20px);
  padding: 28px 32px;
  overflow: hidden;
}
.partners_item h5 {
  font-size: max(0.9375vw, 14px);
  line-height: 30px;
  font-family: "GilroyBold";
  line-height: 20px;
  margin: 8px 0 20px 0;
}
@media (max-width: 1600px) {
  .partners_item h5 {
    line-height: 22px;
  }
}
@media (max-width: 1100px) {
  .partners_item h5 {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (max-width: 1600px) {
  .partners_item h5 {
    margin: 4px 0 10px 0;
  }
}
@media (max-width: 1100px) {
  .partners_item h5 {
    margin: 8px 0 20px 0;
  }
}
.partners_item p {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  font-family: "OpenSans";
  line-height: 24px;
  margin: 0;
}
@media (max-width: 1600px) {
  .partners_item p {
    line-height: 26px;
  }
}
@media (max-width: 1100px) {
  .partners_item p {
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  .partners_item {
    padding: 22px 26px;
  }
}
@media (max-width: 1100px) {
  .partners_item {
    padding: 28px 32px;
    flex-basis: calc(50% - 80px);
  }
}
@media (max-width: 600px) {
  .partners_item {
    flex-basis: 100%;
  }
}

.partners_image_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 144px;
}
.partners_image_wrapper img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=partners.css.map */
