@import "../styles/variables";

.theme_toggle_wrapper{
  width: 150px;
  height: 60px;
  border: 1px solid $color1;
  border-radius: 30px;
  margin-right: 14px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  &.header_theme_toggle{
    border: 1px solid #fe8a83;
    @media (max-width: 1000px) {
      background: $color1;
    }
  }
  @media (max-width: 1600px) {
    width: 102px;
    height: 42px;
    padding: 0 8px;
  }
  @media (max-width: 1000px) {
    width: 150px;
    height: 60px;
  }
}
.theme_eye{
  width: 30px;
  height: 20px;
  margin: 0 8px;
  @media (max-width: 1600px) {
    width: 20px;
    height: 14px;
    margin: 1px 4px 0 4px;
  }
  @media (max-width: 1000px) {
    width: 30px;
    height: 20px;
    margin: 0 8px;
  }
}

.theme_toggle{
  position: relative;
  top: 2px;
  width: 72px;
  height: 40px;
  outline: none;
  -webkit-appearance:none;
  background: #f0d3a1;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  &.dark{
    background: #7292bc;
  }
  &:before,&:after{
    position: absolute;
    content: "";
    background-size: cover;
    height: 20px;
    width: 20px;
    top: 10px;
    z-index: 0;
    transition: 0.3s;
    @media (max-width: 1600px) {
      width: 16px;
      height: 16px;
      top: 8px;
    }
    @media (max-width: 1000px) {
      height: 20px;
      width: 20px;
      top: 10px;
    }
  }
  &:before{
    background: url("../images/sun.png") center no-repeat;
    left: 12px;
    @media (max-width: 1600px) {
      left: 8px;
    }
    @media (max-width: 1000px) {
      left: 12px;
    }
  }
  &:after{
    background: url("../images/moon.png") center no-repeat;
    right: 12px;
    opacity: 0;
    transform: translateX(-143%);
    @media (max-width: 1600px) {
      right: 8px;
    }
    @media (max-width: 1000px) {
      right: 12px;
    }
  }
  &:checked{
    &:before {
      transform: translateX(143%);
      opacity: 0;
    }
    &:after{
      transform: translateX(-0%);
      opacity: 1;
    }
  }
  @media (max-width: 1600px) {
    width: 50px;
    height: 30px;
  }
  @media (max-width: 1000px) {
    width: 72px;
    height: 40px;
  }
}



