@import "../styles/variables";

.theme_toggle_wrapper{
  width: 144px;
  height: 60px;
  border: 1px solid $color1;
  border-radius: 30px;
  margin-right: 14px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  & label{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 0;
    letter-spacing: 0;
  }
  &.header_theme_toggle{
    border: 1px solid #fe8a83;
    @media (max-width: $tablet) {
      border: 1px solid white;
      background: white;
    }
  }
  &.header_fixed{
    @media (max-width: $tablet) {
      border: 1px solid #fe8a83;
    }
  }
  &.visible{
    @media (max-width: 640px) and (min-width: 501px) {
      display: flex;
    }
  }
  @media (max-width: $laptop) {
    width: 102px;
    height: 42px;
    padding: 0 6px;
  }
  @media (max-width: $tablet) {
    width: 150px;
    height: 60px;
    padding: 0 12px;
    margin: 0;
  }
  @media (max-width: 640px){
    position: absolute;
    right: $containerMargin3;
    display: none;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}
.theme_toggle_eye{
  font-size: 24px;
  line-height: 1;
  margin: 0 8px 0 4px;
  color: white;
  &.header_eye{
    color: black;
  }
  @media (max-width: $laptop) {
    font-size: 16px;
    margin: 0 3px 0 6px;
  }
  @media (max-width: $tablet) {
    font-size: 26px;
    margin: 0 12px;
  }
}


.theme_toggle{
  position: relative;
  width: 70px;
  height: 40px;
  outline: none;
  -webkit-appearance:none;
  background: #f0d3a1;
  border-radius: 45px;
  cursor: pointer;
  transition: $transition;
  &.dark{
    background: #7292bc;
  }
  &:before,&:after{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    top: 10px;
    z-index: 0;
    transition: 0.3s;
    @media (max-width: $laptop) {
      width: 16px;
      height: 16px;
      top: 7px;
    }
    @media (max-width: $tablet) {
      height: 20px;
      width: 20px;
      top: 10px;
    }
  }
  &:before{
    background: url("../images/themeToggle/sun.png") center no-repeat;
    background-size: cover;
    left: 12px;
    @media (max-width: $laptop) {
      left: 8px;
    }
    @media (max-width: $tablet) {
      left: 12px;
    }
  }
  &:after{
    background: url("../images/themeToggle/moon.png") center no-repeat;
    background-size: cover;
    right: 12px;
    opacity: 0;
    transform: translateX(-143%);
    @media (max-width: $laptop) {
      right: 8px;
    }
    @media (max-width: $tablet) {
      right: 12px;
    }
  }
  &:checked{
    &:before {
      transform: translateX(143%);
      opacity: 0;
    }
    &:after{
      transform: translateX(-0%);
      opacity: 1;
    }
  }
  @media (max-width: $laptop) {
    width: 50px;
    height: 30px;
  }
  @media (max-width: $tablet) {
    width: 72px;
    height: 40px;
  }
}



