@import '../fonts/stylesheet.css';
@import '../styles/ThemeColors.css';

$laptop: 1600px;
$tablet: 1100px;
$mobile: 600px;

$gilroy: "Gilroy";
$gilroyBlack: "GilroyBlack";
$gilroyBold: "GilroyBold";
$gilroyHeavy: "GiloryHeavy";
$gilroyExtraBold: "GilroyExtraBold";
$gilroySemiBold: "GilroySemiBold";
$gilroyLight: "GilroyLight";
$gilroyMedium: "GilroyMedium";
$openSans: "OpenSans";
$openSansSemiBold: "OpenSansSemiBold";
$openSansLight: 'OpenSansLight';

$containerMargin1: 105px;
$containerMargin2: 70px;
$containerMargin3: 20px;
$containerMargin4: 10px;

$color1: #f3f3f3;
$color2: #e87b5a;

$paddingButtonMax: clamp(30px, 2vmax, 40px);
$paddingButtonMid: clamp(10px, 2vmax, 30px);
$paddingButtonSmall: clamp(5px, 3vmax, 30px);

$transition: 0.3s;

@mixin container($margin: $containerMargin1 ) {
  margin: 0 $margin;
  box-sizing: border-box;
  @media (max-width: $laptop) {
    margin: 0 $containerMargin2;
  }
  @media (max-width: 1199px) {
    margin: 0 $containerMargin3;
  }
  @media (max-width: $mobile) {
    margin: 0 $containerMargin3;
  }
}

@mixin main{
  position: relative;
  width: 100%;
  background: var(--backgroundColor);
  padding: clamp(40px, 3.9063vmax, 76px) 0 110px 0;
  border-radius: 0 0 45px 45px;
  z-index: 2;
  @media (max-width: $laptop) {
    padding-bottom: 86px;
  }
  @media (max-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 0;
  }
}


@mixin font14 {
  font-size: 14px;
  line-height: 1;
  @media (max-width: $tablet) {
    font-size: 12px;
  }
}
@mixin font16 {
  font-size: max(0.8333vw, 14px);
  line-height: 1.875;
  @media (max-width: $laptop) {
    line-height: 26px;
  }
  @media (max-width: $tablet) {
    font-size: 16px;
  }

}
@mixin font18{
  font-size: max(0.9375vw, 14px);
  line-height: 30px;
  @media (max-width: $laptop) {
    line-height: 22px;
  }
  @media (max-width: $tablet) {
    font-size: 18px;
    line-height: 30px;
  }
}
@mixin font20 {
  font-size: max(1.15vw, 16px);
  line-height: 1;
}
@mixin font22 {
  font-size: max(1.15vw, 16px);
  line-height: 1;
}
@mixin font24 {
  font-size: max(1.25vw, 16px);
  line-height: 1;
}
@mixin font26 {
  font-size: max(1.35vw, 18px);
  line-height: 1.154;
}
@mixin font30 {
  font-size: max(1.5625vw, 22px);
  line-height: 1;
}
@mixin font32 {
  font-size: max(1.67vw, 24px);
  line-height: 1;
}
@mixin font38 {
  font-size: max(1.9792vw, 26px);
  line-height: 1;
  @media (max-width: $tablet) {
    font-size: 38px;
  }
}
@mixin font44 {
  font-size: max(2.29vw, 32px);
  @media (max-width: $laptop) {
    font-size: 2.34vw;
  }
  @media (max-width: $tablet) {
    font-size: 4.1667vw;
  }
}
@mixin font140 {
  font-size: 7.2917vw;
  line-height: 1;
  @media (max-width: $laptop) {
    font-size: 7.3161vw;
  }
  @media (max-width: $tablet) {
    font-size:  7.8125vw;
  }
}

@mixin buttonSVG($deg) {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px #e87b5a solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 0.3s;
  cursor: pointer;
  svg {
    width: 20px;
    height: auto;
    margin: 0;
    transform: rotate($deg);
  }
  &.arr {
    transition: 0.3s;
  }
}

@mixin button($bg: transparent , $hoverBg: #e87b5a) {
  font-family: $openSansSemiBold;
  font-size: 16px;
  line-height: 1;
  padding: 15px 30px;
  border-radius: 20px;
  border: 1px solid #e87b5a;
  color: white;
  background: $bg;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background: $hoverBg;
  }
}

@mixin navButtonBack(){
  @include button(white, $color2);
  color: black;
  display: flex;
  align-items: center;
  transition: none;
  padding: 12px 26px;
  border-radius: 20px;
  &:hover{
    color: white;
  }
  & span{
    margin-left: 4px;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  & .nav_arrow{
    @include font22;
    color: black;
    margin: 0 16px 0 0;
    &.next{
      margin: 0 0 0 16px;
    }
    &.hover{
      color: white;
    }
  }
  @media (max-width: $tablet) {
    padding: 15px 30px;

  }
}


@mixin shadowBig {
  -webkit-box-shadow: -6px 5px 27px 0px rgba(1, 2, 2, 0.4);
  -moz-box-shadow: -6px 5px 27px 0px rgba(1, 2, 2, 0.4);
  box-shadow: -6px 5px 27px 0px rgba(1, 2, 2, 0.4);
}

@mixin shadowSmall {
  -webkit-box-shadow: -6px 5px 16px rgba(1, 2, 2, 0.2);
  -moz-box-shadow: -6px 5px 16px rgba(1, 2, 2, 0.2);
  box-shadow: -6px 5px 16px rgba(1, 2, 2, 0.2);
}

@mixin titlePage {
  @include font44;
  font-family: $gilroyBlack;
  margin-bottom: 36px;
  color: var(--titleColor);
  @media (max-width: $tablet) {
    font-size: 44px;
    margin-bottom: 46px;
  }
  @media (max-width: $mobile) {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@mixin text{
  @include font18;
  font-family: $openSans;
  color: var(--textColor);
}

@mixin sectionTitle{
  @include font38;
  font-family: $gilroyBold;
  margin-bottom: 26px;
  text-align: center;
  color: var(--titleColor);
}

@mixin contentNavButton{
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 40px;
  display: none;
  & button{
    background: $color2;
    padding: 10px 28px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    @include font16;
    font-family: $openSansSemiBold;
    line-height: 3;
    color: white;
    &.active{
      background: #3c4a53;
    }
  }
  @media (max-width: $tablet) {
    display: flex;
  }
  @media (max-width: $mobile) {
    display: none;
  }
}

@mixin tabletContent{
  @media (max-width: $tablet) {
    display: none;
    &.active{
      display: block;
    }
  }
}
